* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    // background: #ccc;
}

body {
    background-color: #f1f1f1;
}

@media screen and (min-width: 769px) {
    .main {
    
    .heading {
      h1,p {
        text-align: center;
      }
      p {
        margin: 20px 20px;
        span {
          background-color: black;
          color: white;
          padding: 4px;
          font-weight: bold;
        }
      }
      margin: 60px auto;
      // border: 1px solid red;
    }
    .content {
      display: flex;
      margin: 0 60px;
    //   border: 2px solid black;
      .left {
        width: 66.66%;
        height: 100%;
        // border: 1px solid green;
        margin-right: 30px;
        .box {
            width: 100%;
			// height: 60%;
			background-color: #fff;
            // border: 1px solid blue;
            border: 1px solid rgb(229, 229, 229);
            margin-bottom: 50px;
            .container {
                border: none;
            //    margin-left: 10px;
                .btn {
                    margin-bottom: 20px;
                }
            }
        }   
      }
  
      .right {
        width: 33.33%;
        height: 100%;
        // border: 1px solid red;
        .right.info {
            width: 100%;
            // display: block;
            background-color: #fff; 
            margin-bottom: 30px;
            border: 1px solid rgb(229, 229, 229);
            .container {
                border: none;
            }
        }
        .right.popular_post {
            width: 100%;
            display: block;
            background-color: #fff;
            border: 1px solid rgb(229, 229, 229);
            
            .title {               
                background-color: grey;
                h4 {
                    font-size: 20px;
                    margin: 20px 20px;
                }
            // .container {
                
            //     ul {
                    
            //        li {
            //         display: list-item;
            //        }
                    
            //     }
            // }
            }
        }
      }

    }
    .footer {
        width: 100vw;
        height: 20vh;
        background: #616161;
    }
}
}

@media screen and (max-width: 768px) {
    .main {
    
    .heading {
      h1,p {
        text-align: center;
      }
      p {
        margin: 20px 20px;
        span {
          background-color: black;
          color: white;
          padding: 4px;
          font-weight: bold;
        }
      }
      margin: 60px auto;
      // border: 1px solid red;
    }
    .content {
      display: block;
      margin: 0 20px;
    //   border: 2px solid black;
      .left {
        width: 100%;
        height: 100%;
        // border: 1px solid green;
        margin-right: 30px;
        .box {
            width: 100%;
			// height: 60%;
			background-color: #fff;
            // border: 1px solid blue;
            border: 1px solid rgb(229, 229, 229);
            margin-bottom: 30px;
            .container {
                border: none;
            //    margin-left: 10px;
                .btn {
                    margin-bottom: 20px;
                }
            }
        }   
      }
  
      .right {
        width: 100%;
        height: 100%;
        // border: 1px solid red;
        .right.info {
            width: 100%;
            // display: block;
            background-color: #fff; 
            margin-bottom: 30px;
            border: 1px solid rgb(229, 229, 229);
            .container {
                border: none;
            }
        }
        .right.popular_post {
            width: 100%;
            
            background-color: #fff;
            border: 1px solid rgb(229, 229, 229);
            
            .title {               
                background-color: grey;
                h4 {
                    font-size: 20px;
                    margin: 20px 20px;
                }
            // .container {
                
            //     ul {
                    
            //        li {
            //         display: list-item;
            //        }
                    
            //     }
            // }
            }
        }
      }

    }
    .footer {
        width: 100vw;
        height: 20vh;
        background: #616161;
        margin-top: 30px;
    }
}
}
